body {
    background-color: #111;
    color: #FFF;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  #foto img {
    max-width: 100%;
    height: auto;
    border: 5px solid #0F0;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  #header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  #main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
  }
  
  #main > div {
    background-color: #222;
    padding: 20px;
    text-align: justify;
    border: 1px solid #0F0;
    border-radius: 5px;
  }
  
  #main img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border: 2px solid #0F0;
    border-radius: 5px;
  }
  
  #footer audio {
    width: 100%;
    margin-top: 40px;
  }
  
  /* Media Queries */
  
  @media screen and (max-width: 768px) {
    #main {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 480px) {
    #main {
      grid-template-columns: 1fr;
    }
  }


